.header{
  background-position: 50% 70%;
}

.text-judul {
  margin-top: 30px;
  font-weight: 900;

}

.text-judul h1, .text-judul h2, .text-judul h3, .text-judul h4,.text-judul h5 ,.text-judul h6{
  font-size: 3.5rem;
}

.bg-portfolio{
  background-color: #e3f2fd;
  padding-bottom: 40px;

}

.bg-skill{
  background-color: #c6e5fc;
  padding-bottom: 40px;
}
.img-shadow{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.bg-caption{
  background-color: white;
  background-size: 00px 80px;
  background-position: center bottom;
  opacity: 0.5;
}
.carousel-item img{
  filter: brightness(60%);
}

.navbar a:hover {
  color: white;
  font-weight: bold;
}
